body{
    background: turquoise; 
}



p{
    color:red;
    font-weight: bold;
    font-size: 24px;
}

h1{
    color: green;
}

blockquote, i {
    color: maroon;

}

#firstPara{
  
    color:black;
    font-style: oblique;

}
.firstClass{
    color: purple;
    font-weight: 400;
    font-style: italic;
}

#secondPara{
    color: bisque;
    font-style: italic;

}
