body{
    background: turquoise; 
}


/* 
p{
    color:red;
    font-weight: bold;
    font-size: 24px;
} */

h1{
    color: green;
}

blockquote, i {
    color: maroon;

}

#firstPara{
  
    color:black;
    font-style: oblique;

}
.firstClass{
    color: purple;
    font-weight: 400;
    font-style: italic;
}

#secondPara{
    color: bisque;
    font-style: italic;

}

div{
    border: 10px solid black;
    background:yellow;
    color:green;
    width: 50%;
    float:right;
    border-radius: 50px;
    margin: 40px;
    padding: 20px;
}

div ul{
    list-style-type: none;
}